@keyframes 귀오른쪽 {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(40deg);
    translate: (10px);
  }
}
@keyframes 귀왼쪽 {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(-40deg);
    translate: (-10px);
  }
}

body {
  margin: 0;
  padding: 0;
}
:root {
  --pri: #ce705f;
  --sec: #c5a79d;
}
body {
  background-image: url("./image.jpg");
  width: 100vw;
  height: 100vh;
  background-size: 100%;
}
.cat {
  position: relative;
  top: 100px;
  margin: 30px auto;
  width: 400px;
  height: 450px;
}

.cat .ear {
  position: absolute;
  top: 0;
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: var(--sec);
}
.cat .ear.left {
  top: 100px;
  left: -20px;
  transform: rotate(-30deg);
  border-radius: 100% 5% 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: 귀왼쪽 1s infinite alternate;
}
.cat .ear.right {
  top: 100px;
  right: -20px;
  transform: rotate(30deg);
  border-radius: 5% 100% 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: 귀오른쪽 1s infinite alternate;
}

.cat .earline.left {
  float: left;
  top: 100px;
  margin-left: 15px;
  width: 100px;
  height: 200px;
  background-color: #d4beb6;
  border: 1px solid #d4beb6;
  border-radius: 30%;
  transform: rotate(10deg);
  border-radius: 100% 3% 0 0;
}

.cat .earline.right {
  float: right;
  top: 100px;
  margin-right: 15px;
  width: 100px;
  height: 200px;
  background-color: #d4beb6;
  border: 1px solid #d4beb6;
  border-radius: 30%;
  transform: rotate(170deg);
  border-radius: 0 0 3% 100%;
}
.cat .face {
  position: absolute;
  background-color: var(--sec);
  border-radius: 50%;
  width: 400px;
  height: 310px;
  bottom: 0;
}
.cat .face .line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.cat .face .line .line.left,
.cat .face .line .line.right,
.cat .face .line .line.center {
  width: 4px;
  height: 50px;
  background-color: #ac8d84;
  border: 5px solid #ac8d84;
  border-radius: 20%;
  border-radius: 80%;
}
.cat .face .line .line.left {
  margin-left: -20px;
}
.cat .face .line .line.right {
  margin-left: 20px;
}
.cat .eye {
  position: absolute;
  top: 110px;
  width: 25px;
  height: 30px;
  border-radius: 30% 100% 30% 100%;
  transform: rotate(35deg);
  background-color: #000;
  rotate: 50;
}
.eye.left {
  left: 125px;
}

.eye.right {
  right: 125px;
}

.cat .eyeline.left {
  position: absolute;
  top: 80px;
  left: 150px;
  width: 60px;
  background-color: #ac8d84;
  border: 5px solid #ac8d84;
  border-radius: 30%;
  transform: rotate(90deg);
  border-radius: 100%;
}

.cat .eyeline.right {
  position: absolute;
  top: 80px;
  left: 300px;
  width: 100px;
  background-color: #ac8d84;
  border: 5px solid #ac8d84;
  border-radius: 30%;
  transform: rotate(90deg);
  border-radius: 60% 0 0 10%;
}

.mouthbottom {
  position: absolute;
  width: 7px;
  height: 46px;
  border-radius: 40%;
  top: 157px;
  background-color: #935a5a;
}

.mouthbottom.left {
  left: 46%;
  transform: translateX(-50%) rotate(45deg);
}

.mouthbottom.right {
  right: 46%;
  transform: translateX(-50%) rotate(135deg);
}

.nose {
  position: absolute;
  top: 140px;
  left: 180px;
  width: 35px;
  height: 25px;
  border-radius: 20% 20% 70% 70%;
  background: #f2bebe;
  z-index: 10;
}
